{% extends "base.html" %}
{% load static %}
{% block title %}Tra cứu{% endblock title %}


{% block content %}
{% comment %} <h1>Student: {{ student.name }}</h1>

{% if marks %}
    <h2>Marks:</h2>
    <ul>
        {% for mark in marks %}
            <li>{{ mark.subject.name }}: {{ mark.Mark }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No marks found for this student.</p>
{% endif %} {% endcomment %}

<div class="row"> 
    <div class="col-1"></div>
    <div class="col-2">
        <img src="{% static "illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" %}" class="img-thumbnail" alt="...">
    </div>

    <div class="col-8">
        <div class="card">
            <h3 class="card-title text-center">Thông tin học sinh</h3>
            <div class="card-body">   
                <table class="table">
                    <tbody>
                    <tr>
                        <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">ID</th>
                        <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ student.id }}</td>
                    </tr>
                    <tr>
                        <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">Tên</th>
                        <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ student.name }}<td>
                    </tr>
                    <tr>
                        <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">Lớp</th>
                        <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ student.classroom.name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    </div> 
    <div class="col-1"></div>   
</div>

<div class="row" style="margin-top: 1%">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card" style="background-color: #07478D">
            <div class="card-body">
                <h2 class="card-title text-white" style="margin-top: 2%;">Điểm</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Môn</th>
                        <th scope="col">Điểm</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for subject, scores in marks_by_subject.items %}
                        <tr>
                            <th scope="row">{{ subject }}</th>
                            <td>
                                {% for score in scores %}
                                {{ score }},
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <div class="col-1"></div>   
</div>

{% comment %} Minh Tiến Add {% endcomment %}

{% endblock content %}